#name{
    color: white;
    text-shadow: 0 0 4  px lightgoldenrodyellow;
}

header{
    top: 3px;
    position: sticky;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 37, 68, 0.705);
    color: white;
    align-items: center;
    padding: 3PX;
    cursor: pointer;

}
.links{
    display: flex;
    gap: 70px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
a:hover{
    color: lightblue;
    text-decoration: underline;
}
.navbar button{
    background: linear-gradient(to right,darkviolet,lightblue);
    border-radius: 9px;
    padding: 7px;
    width: 180px;
    color: white;
}
.navbar button:hover{
    box-shadow: 0 0 5px lightcoral;
}

body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.066)), url(assests/bg\ image.png);
    background-size: cover;
    background-attachment: fixed;
}



.md{
    color: white;
    padding-left: 8%;
}
.mdd{
    padding-left: 3%;
    padding: 90px 0 0 0;
    align-items: center;
    font-size: 23px;
}
#md1{   
    color: rgb(176, 59, 176);
}
#btn1{
    background: linear-gradient(to right,darkviolet,lightblue);
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    color: white;
    border-color: rgb(6, 58, 70);
}
#btn2{
    margin: 0 0 0 20px;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


.ic01{
    display: flex;
    gap: 30px;
    margin: 40px 0 0 0;
}

.ab{
    text-align: center;
    color: white;
    margin: 170px 0 0 0;
}

.pd{
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 170px 170px;
    gap: 15px;
    padding: 20px;
    background-color: transparent;
    margin: 30px 70px ;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
}
.pd:hover{
    box-shadow:  0 0 10px white;
}
.pp{
    padding: 85px 70px;
    grid-row: 1/3;
}
.pp img{
    border-radius: 50%;
}
.pp img:hover{
    box-shadow: 0 0 10px white;
}

.pp1{
    grid-column: 2/7;
    color: white;
    padding: 20px 3px;
}
.pp2{
    text-align: center;
    padding: 10px;
}
.pp3{
    text-align: center;
    padding: 10px;
}
.pp4{
    text-align: center;
    padding: 10px;
}
.pp5{
    text-align: center;
    padding: 10px;
}



.ms{
    color: white;
    text-align: center;
}



.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 15px;
    color: white;
    margin: 70px;
}

.sk,.sk1,.sk2,.sk3,.sk4,.sk5{
    background-color: transparent;
    border-radius: 15px;
    margin: 1px 40px;
    border: 1px solid white;
}

.sk{
    padding: 20px 10px 0 10px;
    text-align: center;
}
.sk:hover{
    box-shadow: 0 0 10px white;
}
.sk1{
    padding: 20px 20px 0 20px;
    text-align: center;
}
.sk1:hover{
    box-shadow: 0 0 10px white;
}
.sk2{
    padding: 20px 20px 0 20px;
    text-align: center;
}
.sk2:hover{
    box-shadow: 0 0 10px white;
}
.sk3{
    padding: 10px 20px 0 20px;
    text-align: center;
}
.sk3:hover{
    box-shadow: 0 0 10px white;
}
.sk4{
    padding: 10px;
    text-align: center;
}
.sk4:hover{
    box-shadow: 0 0 10px white;
}
.sk5{
    padding: 10px;
    text-align: center;
}
.sk5:hover{
    box-shadow: 0 0 10px white;
}



.pro{
    color: white;
    text-align: center;
}


.project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
    gap: 15px;
    color: white;
    margin: 70px;
}

.pj,.pj1,.pj2{
    background-color: transparent;
    border-radius: 20px;
    margin: 1px 40px;
    border: 1px solid white;
}

.pj:hover{
    box-shadow: 0 0 10px white;
}
.pj1:hover{
    box-shadow: 0 0 10px white;
}
.pj2:hover{
    box-shadow: 0 0 10px white;
}








.pj{
    padding: 10px;
}
.pj img{
    border-radius: 10px;
}
.btm{
    background: linear-gradient(to right,darkviolet,lightblue);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
}
.btm1{
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}


.foot{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 250px;
}